; Do not share this file with others, not even if they claim to be technical support.
; This file contains saved passwords and other secrets that should remain private to you!
[secrets]

[network]
server_password = 
rcon_password = 
admin_password = 
default_company_pass = 
network_id = 
server_invite_code = 
server_invite_code_secret = 

[version]
version_string = 12.1
version_number = 1C186D64
ini_version = 2
