{
  "allowAdminCommands" : true,
  "allowAdminCommandsFromAnyone" : false,
  "allowAnonymousConnections" : true,
  "allowAssetsMismatch" : true,
  "anonymousConnectionsAreAdmin" : false,
  "bannedIPs" : [],
  "bannedUuids" : [],
  "checkAssetsDigest" : false,
  "clearPlayerFiles" : false,
  "clearUniverseFiles" : false,
  "clientIPJoinable" : false,
  "clientP2PJoinable" : true,
  "configurationVersion" : {
    "basic" : 2,
    "server" : 4
  },
  "crafting" : {
    "filterHaveMaterials" : false
  },
  "gameServerBind" : "*",
  "gameServerPort" : 21025,
  "interactiveHighlight" : true,
  "inventory" : {
    "pickupToActionBar" : true
  },
  "maxPlayers" : 8,
  "maxTeamSize" : 4,
  "monochromeLighting" : false,
  "playerBackupFileCount" : 3,
  "queryServerBind" : "*",
  "queryServerPort" : 21025,
  "rconServerBind" : "*",
  "rconServerPassword" : "da5f3159ca5f404fb1fff9ce522a17c3",
  "rconServerPort" : 21026,
  "rconServerTimeout" : 0,
  "runQueryServer" : false,
  "runRconServer" : true,
  "safeScripts" : true,
  "scriptInstructionLimit" : 10000000,
  "scriptInstructionMeasureInterval" : 10000,
  "scriptProfilingEnabled" : false,
  "scriptRecursionLimit" : 100,
  "serverFidelity" : "automatic",
  "serverName" : "AMP Starbound Server",
  "serverOverrideAssetsDigest" : null,
  "serverUsers" : {
  },
  "tutorialMessages" : true
}