(
    gameserver_protocols: [
        Tcp(
            address: "{{$ApplicationIPBinding}}:{{$ServerPort}}",
        ),
    ],
    metrics_address: "127.0.0.1:{{$MetricsPort}}",
    auth_server_address: Some("https://auth.veloren.net"),
    max_players: {{$MaxUsers}},
    world_seed: {{world_seed}},
    server_name: "{{server_name}}",
    start_time: 32400,
    map_file: None,
    max_view_distance: Some(65),
    banned_words_files: [],
    max_player_group_size: 6,
    client_timeout: (
        secs: 40,
        nanos: 0,
    ),
    spawn_town: None,
    max_player_for_kill_broadcast: None,
    calendar_mode: Auto,
    gameplay: (
        battle_mode: Global(PvP),
        safe_spawn: false,
        explosion_burn_marks: true,
    ),
)